services:
  web:
    build: .
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A core worker --loglevel=info
    volumes:
      - ./app:/app
    depends_on:
      - web
      - redis

  celery_beat:
    build: .
    command: celery -A core beat --loglevel=info
    volumes:
      - ./app:/app
    depends_on:
      - web
      - redis

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: django_subscriptions
      POSTGRES_USER: spc
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_data:
